* {
all: unset;
}

$surface-darkgrey: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;
$primary: cyan;

@import "styles/musiccc.scss";
@import "styles/sliders.scss";

.sidebar {
    text-shadow: 2px 2px 2px #000000;
}

.container {
    padding: 8px;
    padding-right: 20px;
    box-shadow: inset -3px 0 #61afef;

    font-family: Inter;
    font-size: 1rem;
}

.container-disabled {
    padding: 8px;
    padding-right: 20px;
    box-shadow: inset -3px 0 #abb2bf;

    font-family: Inter;
    font-size: 1rem;
}

.highlight {
    font-weight: 500;
}

.nerd-icon {
    font-family: FiraCode Nerd Font Mono;
    font-size: 2rem;
}

.progress_bar scale trough highlight {
    all: unset;
    background-color: white;
    border-radius: 2px;
}

.progress_bar scale trough {
    all: unset;
    background-color: #21252b;
    border-radius: 2px;
    min-height: 3px;
    min-width: 236px;
}

.invisible {
    opacity: 0;
    font-size: 1px;
}

.bar {
    text-shadow: 2px 2px 2px #000000;
}







/* * { all: unset; } */

.layout-box {
    font-family: Phosphor, Koulen;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5em;
    color: rgba($surface-fg, 0.8);
    opacity: .9;
    background-size: cover;
    background-position: 58% 0%;
}

.overlay-btns,
.tm-box {
    background: rgba(30, 30, 30, .9);
    border-radius: 5px;
    padding: 1em;
}

.net-box,
.bat-box,
.tm-box {
    label {
        font-size: 2em;
    }
}

.close-btn,
.open-btn {
    font-size: 2em;
    &:hover {
        color: $surface-red;
    }
}

.btns-box {
    font-size: 2.5em;

    button {
        padding: 0.4em;
        border-radius: 0.1em;
        background-color: rgba(30, 30, 30, .9);

        &:hover {
            transition: 200ms linear background-color, border-radius;
            background-color: rgba($surface-lightgrey, 0.6);
        }

        &:first-child {
            color: rgba($surface-red, 0.8);
        }
    }
}

.sep {
    font-size: 1em;
    padding-top: 0.15em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-family: Iosevka;
    font-weight: 400;
}

.sundial-lbl {
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0.2em;
    padding: 0.4em;
    padding-bottom: 0.5em;
    font-family: "Poiret One";
}

// vim:ft=scss


.metric .label {
    font-size: 2rem;
}

slider {
    all: unset;
    color: #ffd5cd;
}

.metric scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}
.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 5px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}
.metric scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}
.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: .4rem;
    min-width: 10rem;
    margin-left: 10px;
    margin-right: 20px;
}
