* {
all: unset;
}

$surface-darkgrey: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;
$primary: #61afbf;

@import "styles/musiccc.scss";
@import "styles/sliders.scss";
@import "styles/batteryborder.scss";
@import "styles/veryminimal.scss";

.clock {
    font-size: 2rem;
}

.bg_music_notif {
    text-shadow: 2px 2px 2px #000000;
}

.container {
    padding: 8px;
    padding-right: 20px;
    box-shadow: inset -3px 0 #61afef;

    font-family: Inter;
    font-size: 1rem;
}

.container-disabled {
    padding: 8px;
    padding-right: 20px;
    box-shadow: inset -3px 0 #abb2bf;

    font-family: Inter;
    font-size: 1rem;
}

.highlight {
    font-weight: 500;
}

.nerd-icon {
    font-family: FiraCode Nerd Font Mono;
    font-size: 2rem;
}

.progress_bar scale trough highlight {
    all: unset;
    background-color: white;
    border-radius: 2px;
}

.progress_bar scale trough {
    all: unset;
    background-color: #21252b;
    border-radius: 2px;
    min-height: 3px;
    min-width: 236px;
}

.invisible {
    opacity: 0;
    font-size: 1px;
}

.bar {
    text-shadow: 2px 2px 2px #000000;
}

.microbar {
    font-size: 14px;
    text-shadow: 2px 2px 2px #000000;
}







/* * { all: unset; } */

.layout-box {
    font-family: Phosphor, Koulen;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1em;
    color: rgba($surface-fg, 0.8);
    opacity: .9;
    background-size: cover;
    background-position: 50% 50%;
    background-color: rgba(30, 30, 30, .95);
}

.overlay-btns,
.tm-box {
    background: rgba(30, 30, 30, .95);
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0px 0px 2px white;
}

.net-box,
.bat-box,
.tm-box {
    label {
        font-size: 2em;
    }
}

.close-btn,
.open-btn {
    font-size: 2em;
    &:hover {
        color: $primary;
    }
}

.btns-box {
    font-size: 2.5em;

    button {
        padding: 0.4em;
        border-radius: 0.1em;
        background-color: rgba(30, 30, 30, .95);
        // border: 1px solid white;
        box-shadow: 0px 0px 2px white;

        &:hover {
            transition: 200ms linear background-color, border-radius;
            background-color: rgba($surface-lightgrey, 0.6);
        }

        &:first-child {
            color: rgba($surface-red, 0.8);
        }
    }
}

.sep {
    font-size: 1em;
    padding-top: 0.15em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    // font-family: Iosevka;
    font-weight: 400;
}


// vim:ft=scss

.mininotifications {
    .bell {
        font-size: 18px;
    }
    .badge-red,
    .badge-primary,
    .badge-empty {
        border-radius: 50%;
        min-width: 10px;
        font-size: 7px;
        font-weight: bold;
    }
    .badge-red { background-color: red; }
    .badge-primary { background-color: $primary; }
    .badge-empty { background-color: black; border: 1px solid white; }
}

.notificationspanel {
    .notif {
        box-shadow: inset 3px 0 $primary;
        padding-left: 10px;
    }
}

.panel {
    border-left: 1px solid white;
    padding: 1em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0, 0, 0, .95);
}

.window {
    min-width: 100px;
    background-color: red;
}

.dashboard {
    .vol-slider {
        .vol-label {
            font-size: 16px;
            color: #000000;
            margin-left: 10px;
        }
        & scale trough {
            all: unset;
            border-radius: 10px;
            background-color: #3A404C;
            border: none;
            min-height: 5px;
            min-width: 300px;
            margin-left: 3px;
            & highlight {
            all: unset;
            background: $primary;
            color: #000000;
            border-radius: 10px;
            }
        }
        & scale.fixed trough {
            background-color: transparent;
            border: 1px solid #3A404C;
        }
    }
}

.dashboard,
.dashboard_light {
    padding: 2px;
    // font-family: Phosphor, Koulen;
    color: rgba($surface-fg, 0.8);
    // background-color: rgba(30, 30, 30, .95);

    .infos {
        label {
            font-size: 1.5em;
            font-weight: bold;
            border-radius: 0.2em;
            padding: 0.4em;
            padding-bottom: 0.5em;
            font-family: "Poiret One";
        }
        .big_text {
            font-size: 3em;
        }
        .small_text {
            font-size: 80%;
        }
    }

    .wallpaper {
        opacity: .7;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    .box,
    .notificationbox {
        font-size: 1.5rem;
        padding: 0.4em;
        border-radius: 0.1em;
        background-color: rgba(30, 30, 30, .95);
        // border: 1px solid white;
        box-shadow: 0px 0px 2px white;
    }

    .author {
        font-style: italic;
    }
}

.dashboard_light {
    color: white;
    text-shadow: 2px 2px 2px #000000;

    .color_bg {
        background-color: $primary;
        color: white;
        border-radius: 5px;
    }
    .color_fg {
        color: $primary;
    }

    .citation {
        // color: $primary;
        font-size: 2rem;
        color:rgba(255, 255, 255, .25);

        .text {
            color: white;
            padding: 2rem;
            font-size: 1rem;

            .author {
                font-size: 95%;
            }
        }
    }

    .sessionbuttonspanel {
        padding: 1rem;
    }

    .metric .label {
        font-size: 1rem;
    }
    .metric .icon {
        font-size: 1rem;
    }
    
    slider {
        all: unset;
        color: #ffd5cd;
    }
    
    .metric scale trough highlight {
        all: unset;
        background-color: $primary;
        color: #000000;
        border-radius: 10px;
    }
    .metric scale trough {
        all: unset;
        background-color: rgba(255,255,255,.35); // #4e4e4e;
        border-radius: 50px;
        min-height: 5px;
        min-width: 50px;
        margin-left: 10px;
        margin-right: 20px;
    }
    .metric scale trough highlight {
        all: unset;
        background-color: white;
        color: #000000;
        border-radius: 10px;
    }
    .metric scale trough {
        all: unset;
        background-color: rgba($primary, .65);
        border-radius: 50px;
        min-height: .4rem;
        min-width: 10rem;
        margin-left: 10px;
        margin-right: 20px;
    }
}

.nodata-color {
    opacity: .5;
}
.primary-color {
    color: $primary;
}
.ok-color {
    color: lightgreen;
}
.warn-color {
    color: orange;
}
.err-color {
    color: red;
}
