// https://github.com/nebulosa2007/archinstallbtfrs/blob/master/dotfiles/niri_config/niri/config.kdl

// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
}

cursor {
    xcursor-theme "GoogleDot-White"
    xcursor-size 24

    // hide-when-typing
    hide-after-inactive-ms 5000
}

input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            layout "it"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }

        track-layout "global"
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    touchpad {
        tap
        dwt // Disable While Typing
        // dwtp Disable White TrackPointing
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        scroll-method "two-finger"
        tap-button-map "left-right-middle"
        click-method "clickfinger"
        // middle-emulation
    }

    mouse {
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // focus-follows-mouse
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!

output "Samsung Electric Company SAMSUNG Unknown" {
    position x=1920 y=0
}

output "HDMI-A-1" {
    position x=0 y=0
}

output "eDP-1" {
    // Uncomment this line to disable this output.
    // off

    // Resolution and, optionally, refresh rate of the output.
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    // If the refresh rate is omitted, niri will pick the highest refresh rate
    // for the resolution.
    // If the mode is omitted altogether or is invalid, niri will pick one automatically.
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    // mode "1920x1080@30"

    // Scale is a floating-point number, but at the moment only integer values work.
    scale 1.0

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // Position of the output in the global coordinate space.
    // This affects directional monitor actions like "focus-monitor-left", and cursor movement.
    // The cursor can only move between directly adjacent outputs.
    // Output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // If the position is unset or results in an overlap, the output is instead placed
    // automatically.
    position x=1920 y=0
}

output "Virtual-1" {
    mode "2560x1314@10"
    scale 1.0
    transform "normal"
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    background-color "transparent"

    // Set gaps around windows in logical pixels.
    gaps 8

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
        // The default preset widths are 1/3, 1/2 and 2/3 of the output.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // Uncomment this line to disable the focus ring.
        // off

        // How many logical pixels the ring extends out from the windows.
        width 1

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        // active-color "#7fc8ff"

        // Color of the ring on inactive monitors.
        inactive-color "#505050"

        // You can also use gradients. They take precedence over solid colors.
        // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
        // The angle is the same as in linear-gradient, and is optional,
        // defaulting to 180 (top-to-bottom gradient).
        // You can use any CSS linear-gradient tool on the web to set these up.
        //
        // active-gradient from="#70c8ff" to="#fb7755" angle=315
        // active-gradient from="#ce1270" to="#dba3e6" angle=45
        // active-gradient from="#e59c19" to="#c88414" angle=45 in="oklch longer hue"
        active-gradient from="#d79921" to="#56b8fd" angle=60 in="oklch longer hue"

        // You can also color the gradient relative to the entire view
        // of the workspace, rather than relative to just the window itself.
        // To do that, set relative-to="workspace-view".
        //
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        off

        width 2
        // active-color "#ffc87f"
        inactive-color "#505050"

        active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        // on
        softness 0
        spread 0
        offset x=8 y=8
        draw-behind-window true
        color "#ff000070"
        inactive-color "#00000054"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        left 22
        right 22
        top 4
        bottom 4
    }
}

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// spawn-sh-at-startup "alacritty -e fish"

spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "~/.config/niri/run_wob.sh"
spawn-sh-at-startup "~/.config/niri/sock-ratatoskr"
spawn-sh-at-startup "swww-daemon"
// spawn-sh-at-startup "ignis init"
spawn-sh-at-startup "niri-screen-time -daemon"
spawn-sh-at-startup "~/.config/niri/heimdallr"

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some rounded corners.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

include "config_binds.kdl"
include "config_machine.kdl"

animations {
    slowdown 1.0

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    
    /* window-open {
        duration-ms 150
        curve "linear"
        custom-shader r"

        vec4 expanding_circle(vec3 coords_geo, vec3 size_geo) {
            vec3 coords_tex = niri_geo_to_tex * coords_geo;
            vec4 color = texture2D(niri_tex, coords_tex.st);
            vec2 coords = (coords_geo.xy - vec2(0.5, 0.5)) * size_geo.xy * 2.0;
            coords = coords / length(size_geo.xy);
            float p = niri_clamped_progress;
            if (p * p <= dot(coords, coords))
                color = vec4(0.0);

            return color;
        }

        vec4 open_color(vec3 coords_geo, vec3 size_geo) {
            return expanding_circle(coords_geo, size_geo);
        }
        "
    } */

    /* window-close {
        duration-ms 250
        curve "linear"
        custom-shader r"

        vec4 fall_and_rotate(vec3 coords_geo, vec3 size_geo) {
            float progress = niri_clamped_progress * niri_clamped_progress;
            vec2 coords = (coords_geo.xy - vec2(0.5, 1.0)) * size_geo.xy;
            coords.y -= progress * 1440.0;
            float random = (niri_random_seed - 0.5) / 2.0;
            random = sign(random) - random;
            float max_angle = 0.5 * random;
            float angle = progress * max_angle;
            mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
            coords = rotate * coords;
            coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 1.0), 1.0);
            vec3 coords_tex = niri_geo_to_tex * coords_geo;
            vec4 color = texture2D(niri_tex, coords_tex.st);

            return color;
        }

        vec4 close_color(vec3 coords_geo, vec3 size_geo) {
            return fall_and_rotate(coords_geo, size_geo);
        }
        "
    } */

    /*
    window-close {
        custom-shader r"
            vec4 close_color(vec3 coords_geo, vec3 size_geo) {
                vec4 color = vec4(0.0);

                if (0.0 <= coords_geo.x && coords_geo.x <= 1.0
                        && 0.0 <= coords_geo.y && coords_geo.y <= 1.0)
                {
                    vec4 from = vec4(1.0, 0.0, 0.0, 1.0);
                    vec4 to = vec4(0.0, 1.0, 0.0, 1.0);
                    color = mix(from, to, coords_geo.y);
                }

                return color * (1.0 - niri_clamped_progress);
            }
        "
    }
    */
    /*
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    */
    /*
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    */
    /*
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    */

    window-resize {
        custom-shader r"
            vec4 resize_color(vec3 coords_curr_geo, vec3 size_curr_geo) {
                vec3 coords_tex_next = niri_geo_to_tex_next * coords_curr_geo;
                vec4 color = texture2D(niri_tex_next, coords_tex_next.st);
                return color;
            }
        "
    }
}

overview {
    backdrop-color "#000000"
    zoom 0.35
    // hot-corners { off }

    workspace-shadow {
        off
        softness 0
        spread 5
        offset x=0 y=0
        color "#ffffffff"
    }
}

xwayland-satellite {
    // off
    // path "xwayland-satellite"
}

// Put swaybg inside the overview backdrop
/* layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
} */

workspace "default"
// workspace "work"

window-rule {
    geometry-corner-radius 3
    clip-to-geometry true
}

window-rule {
    match title="Flip" app-id="python3"
    match title="Nim" app-id="python3"
    open-floating true
}

window-rule {
    match title="Picture-in-Picture"
    open-floating true
    open-maximized false
    open-fullscreen false
    default-floating-position x=12 y=32 relative-to="bottom-left"

    // max-width 700

    focus-ring {
        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        // active-color "#ffc8ff"
        // Color of the ring on inactive monitors.
        // inactive-color "#805050"
  }
}

window-rule {
    match title="Properties"
    open-floating true
}

window-rule {
    match title=r#".* Preparing .*"# app-id="nemo" is-floating=true
    match title=r#".* Deleting .*"# app-id="nemo" is-floating=true
    match title=r#".* Copying .*"# app-id="nemo" is-floating=true
    match title=r#".* Moving .*"# app-id="nemo" is-floating=true
    default-floating-position x=12 y=12 relative-to="bottom"
    baba-is-float true

    focus-ring {
        off
    }
    border {
        on
        active-color "red"
        inactive-color "red"
    }
}

window-rule {
    match title="alacritty launcher"
    open-floating true
    open-maximized false
    open-fullscreen false

    // max-width 700
}

window-rule {
    match app-id="org.freedesktop.Xwayland"
    open-maximized true
}

window-rule {
    match app-id=r#"(firefox|org.gnome.Meld|code-url-handler)"#
    exclude title=r#"(Open File|Save As|File Upload)"#
    open-maximized true
}

window-rule {
    match app-id="org.telegram.desktop" title="Media viewer"
    open-fullscreen false
    default-column-width { proportion 0.5; }
}

/* window-rule {
    match app-id="org.telegram.desktop"
    exclude title=r#"(Choose Files|Media viewer|Save (File|Video|Image))"#
    open-maximized true
} */

window-rule {
    match app-id=r#"libreoffice-(calc|draw|impress|math|writer)"#
    open-maximized true
}

window-rule {
    match is-active=false
    opacity 0.9
}

/* window-rule {
    match app-id="virt-manager" title="Virtual Machine Manager"
    default-column-width { proportion 0.33333; }
} */

/* window-rule {
    match app-id="virt-manager" title=r#"on QEMU/KVM$"#
    default-column-width { proportion 0.8; }
    // open-on-workspace "work"
} */

window-rule {
  match app-id="firefox"
  exclude title="Open File"
  exclude title="About"
  exclude title="Library"
  exclude title="Preferences"
//  match app-id="com.raggesilver.BlackBox"
//  match app-id="google-chrome"
//  match app-id="org.telegram.desktop"
//  match app-id="libreoffice-calc"
//  match app-id="libreoffice-writer"
//  default-column-width { proportion 1.0; }
  open-maximized true
  focus-ring {
        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        // active-color "#ffc8ff"
        // Color of the ring on inactive monitors.
        // inactive-color "#805050"
  }
}
