* {
	background-clip: padding-box;
	border-radius: 10px;
	text-shadow: none;
	outline: none;
	box-shadow: none;
	color: white;
    background: transparent;
	font-family: "Symbols Nerd Font";
}

/* GtkApplicationWindow */
.background {
	opacity: 1;
	font-family: Rubik, sans-serif;
}

#root-box {
	background: rgba(0, 0, 0, 0.85);
}

.debug {
	border: 3px solid red;
}

/* #app-list, #search {
	/ * background: alpha(#04232A, 0.8); * /
} */

#search {
    font-size: 1.5em;
    font-weight: 500;
    padding: 8px 11px;
    margin-bottom: 6px;
    /* border: 3px solid #8000ff; */
	border: none;
	color: #61afbf;
	font-weight: bold;
}

.app-row {
	border-radius: 10px;
	transition: 0.2s;
	padding: 6px 16px 6px 0;
	opacity: 0.95;
}

.app-row:selected {
	padding-left: 18px;
	padding-right: 8px;
	opacity: 1;
	/* background-color: alpha(#8000ff, 0.8); */
	outline: none;
}

.app-row:selected .app-label {
	color: #61afbf;
}

.app-label {
    padding-left: 1em;
    font-size: 16px;
    border: none;
}

.app-icon {
	border-radius: 1rem;
	margin: 0 8px;
}

#info_bar * {
	font-family: "Symbols Nerd Font Mono", monospace;
}





/* #extra_info_box {
	border: 1px solid green;
}
#search_container {
	border: 1px solid red;
} */
/* #root-box {
	border: 3px solid cyan;
} */
/* #second_row {
	border: 3px solid yellow;
} */
/* #tips {
	border: 1px solid orange;
}
 */
scale + scale {
	margin: -20px 0 0;
}

scale trough {
    min-width: 24px;
    border-radius: 6px;
    background: #555;
}

scale highlight {
    background: #99d;
    border-radius: 6px;
}

scale slider {
    all: unset; /* niente thumb visibile */
}

.items-1,
.items-2,
.items-3 {
	margin: 0 10px;
}

.items-1 label,
.items-2 label,
.items-3 label {
	margin: 0;
	padding: 0;
	margin-left: 3px;
}

scale {
	margin: 0;
	padding: 0;
	border: none;
}
.items-1 label.icon,
.items-2 label.icon,
.items-3 label.icon {
	font-size: 30px;
}
.items-1 {
	
}
.items-1 scale trough {
	min-height: 30px;
}
.items-2 {
	
}
.items-2 scale trough {
	min-height: 14px;
	margin-bottom: 2px;
}
.items-2 label {
	font-size: 10px;
}
.items-3 {
	
}
/* .items-3 scale {} */

.items-3 scale trough {
	min-height: 9px;
	margin-bottom: 1px;
}
.items-3 label {
	font-size: 8px;
}

.grid-icon {
	font-size: 30px;
}
