@import "mocha.css";
/* @import "/home/void/.cache/wal/colors-waybar.css"; */

* {
    border: none;
    border-radius: 2px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka Term Regular, Liberation Sans, Terminus Regular, Roboto, Helvetica, Arial, sans-serif;
    font-size: 22px;
    /* min-height: 40px; */
}

window#waybar {
    /* background: @base; */
    background: transparent;
    border-radius: 8px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0px;
    border-radius: 8px;
    background-color: @base;
    color: @color1;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @base;
    color: @color1;
    margin-left: 3px;
    margin-right: 3px;
}

#workspaces button.active {
    background-color: @base;
    color: @color3;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

#workspaces button.urgent {
    background-color: @color6;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-deadbeef,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#wireplumber,
#taskbar,
#custom-loadavg,
#custom-suspend,
#custom-quit,
#custom-lock {
    padding: 8px 4px;
    margin: 0px 3px;
    color: @white;
    border: 1px solid @white;
    border-radius: 8px;
    background-color: @base;
}

#clock,
#temperature,
#custom-lock,
#custom-quit {
    margin-top: 9px;
}

#custom-suspend {
    border-radius: 0 0 8px 8px;
    border-top: 0;
}

#custom-loadavg,
#custom-lock {
    border-radius: 8px 8px 0 0;
    border-bottom: 0;
}

#workspaces {
    border-radius: 8px;
    border: 1px solid @color1;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces {
    margin-top: 0px;
} */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces {
    margin-bottom: 0;
} */

#clock {
    border-radius: 8px 8px 0 0;
    border-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    padding: 10px;
}

#battery {
    color: @color6;
    border-radius: 0 0 8px 8px;
    border-top: 0;
    font-weight: bold;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: @base;
}

@keyframes blink {
    to {
        background-color: @base;
        color: @red;
    }
}

#battery.critical:not(.charging) {
    background-color: @base;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#taskbar {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0 0 8px 8px;
    border-top: 0;
}

#taskbar empty {
    background-color: transparent;
    padding: 0px;
}

#taskbar button {
    /* background-color: transparent; */
    padding: 5px;
    border-radius: 8px;
}

#cpu {
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
}
	

#memory {
    /* color: @color5; */
	border-radius: 0 0 8px 8px;
	border: 1px solid @color5;
    border-top: 0;
    margin-top: 0;
    font-weight: bold;
}

#network {
	border-radius: 0px;
	border-top: 0;
	border-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
    font-weight: bold;

}

#network.disconnected {
    color: @red;
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

#wireplumber {
    color: @white;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    padding: 10px;
}

#wireplumber.muted {
    color: @red;
}

#custom-deadbeef {
    background-color: @background;
    color: @color6;
	border-radius: 8px;
	border: 1px solid @color6;
	font-weight: bold;
	margin-top: 3px;
    margin-bottom: 3px;
}

#tray {
	border-radius: 0 0 8px 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    /* -gtk-icon-effect: highlight; */
    background-color: @red;
}

#idle_inhibitor {
    color: @color3;
	border-radius: 8px 8px 0 0;
    border-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 80%;
}

#idle_inhibitor.activated {
    background-color: @base;
    color: @color6;
}

#temperature.critical {
    color: @red;
}


tooltip {
    border-radius: 8px;
    background-color: @base;
    border: 1px solid @white;
    opacity:0.8;
    padding: 8px;
    margin: 0px;
    margin-bottom: 10px;
}

tooltip label {
    color: @white;
}
